@model HappyCitizens.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearBuilt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearBuilt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
